<div class="header" style="text-align: center">
  <h2>Hello User!</h2>
</div>

<ul class="list-group">
  <li class="list-group-item"><a href=""><i class="fa fa-info-circle"></i>Tentang Kami</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-language"></i>Bahasa</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-dollar"></i>Mata Uang</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-question-circle"></i>FAQ</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-envelope"></i>Konsultasi Travel</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-file-text"></i>Review</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-user"></i>Profil Saya</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-sign-out"></i>Keluar</a></li>
</ul>

<br><br><br>

<app-footer-profile></app-footer-profile>