.fa-info-circle {
    color: #E04F67;
    margin-right: 15px;
}

.fa-language {
    color: #E04F67;
    margin-right: 15px;
}

.fa-question-circle {
    color: #E04F67;
    margin-right: 15px;
}

.fa-dollar {
    color: #E04F67;
    margin-right: 15px;
}

a {
    color: black;
}

div a {
    color: white;
}

.fa-envelope {
    color: #E04F67;
    margin-right: 15px;
}

.fa-file-text {
    color: #E04F67;
    margin-right: 15px;
}

.fa-user {
    color: #E04F67;
    margin-right: 15px;
}

.fa-sign-out {
    color: #E04F67;
    margin-right: 15px;
}

.header {
    height: 150px;
    width: auto;
    background-color: #E04F67;
}

h2 {
    color: white;
    padding-top: 55px;
}