<div class="card mx-auto">
  <img class="card-img-top" src="assets/bootstrap-social.png">
  <div class="card-body mx-auto">
    <a href="#" class="btn" style="background-color: #E04F67;">Login</a>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item"><a href=""><i class="fa fa-info-circle"></i>Tentang Kami</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-language"></i>Bahasa</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-dollar"></i>Mata Uang</a></li>
  <li class="list-group-item"><a href=""><i class="fa fa-question-circle"></i>FAQ</a></li>
</ul>

<br><br><br>

<app-footer-profile></app-footer-profile>