<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5"> <b>Konsultasi Travel</b> </h1>
    <h4> <b>Apa yang bisa kami bantu?</b> </h4>
  </div>
</div>

<div class="accordion">
  <p-accordion class="accordion-tab">
    <p-accordionTab header="Dimana Anda harus bertanya mengenai produk?" [selected]="true">
      Jika Anda ingin tahu lebih banyak tentang produk kami, silakan hubungi Whatsapp kami atau hubungi kami di 085643077272
    </p-accordionTab>
    <p-accordionTab header="Saya ingin membuat reservasi untuk tur. Kapan saya harus melakukannya?">
      Meskipun bervariasi antara satu tur dengan paket tur lainnya, sebaiknya Anda memesan setidaknya tujuh hari sebelumnya. Ini dikarenakan kuota / seat dapat ditutup terlebih dahulu atau ada kemungkinan turnya tidak dapat selesai karena melampaui waktu. Jika Anda perlu melakukan reservasi dengan cepat, hubungi kami di 085643077272 atau periksa ketersediaan seat Anda melalui Whatsapp.
    </p-accordionTab>
    <p-accordionTab header="Bagaimana jika ada masalah dengan tur saat di tempat (tujuan)?">
      Nomor kontak darurat (nomor telepon bisnis, alamat, atau nomor kantor lokal) tercantum di voucher, jika Anda berada dalam situasi yang mungkin membutuhkan bantuan dari pihak lokal. Silahkan hubungi kami melalui nomor yang tertera pada kontak darurat atau hubungi pusat layanan wisata yang tidak gratis (Non-free tour customer center). Namun, jika Anda bepergian di luar jam kantor, Anda hanya bisa menerima kontak darurat setempat / lokal.  
    </p-accordionTab>
    <p-accordionTab header="Bagaimana cara memesan tur?">
      Harap dicatat bahwa tur yang Anda terima melalui tur non-free tidak akan dikonfirmasi secara langsung. Saat Anda melengkapi reservasi dan pembayaran dengan memilih tur dan tanggal yang Anda inginkan, reservasi Anda akan diproses dan Anda akan diberitahu tentang voucher reservasi melalui alamat email yang Anda tentukan. Setelah pembayaran, Anda mungkin tidak dapat memesan karena keadaan setempat seperti pemesanan telah terbooking penuh. Dalam kasus tersebut, kami akan mengembalikan biaya 100%.  
    </p-accordionTab>
    <p-accordionTab header="Dapatkah saya membuat reservasi atau konsultasi pada hari libur atau hari libur?">
      Pemrosesan Reservasi dan konsultasi Pemesanan tersedia selama hari kerja di jam kerja (09: 30 ~ 18.00). Reservasi dan konsultasi tidak tersedia pada akhir pekan dan hari libur. Pemesanan yang diterima setelah pukul 17:00 pada hari Jumat akan diproses secara berurutan mulai hari Senin. Namun, dalam kasus permasalahan lokal, silahkan hubungi nomor telepon darurat setempat (nomor telepon perusahaan, alamat, atau nomor kantor setempat) tanpa mempedulikan hari libur. 
    </p-accordionTab>
    <p-accordionTab header="Apa itu voucher dan bagaimana cara penerimaannya?">
      Voucher adalah dokumen yang diperlukan untuk mengkonfirmasi pemesanan pada saat menggunakan produk kegiatan pada hari yang sama. Sebaiknyaanda mencetak voucher tersebut. Voucher akan dikeluarkan melalui e-mail yang telah disebutkan pada saat pembelian. Selain itu, Anda dapat memeriksanya di ‘My Page’ saat mengeluarkan voucher tersebut.  
    </p-accordionTab>
    <p-accordionTab header="Bagaimana saya bisa membatalkan pesanan saya?">
      Jika Anda ingin melakukan pembatalan setelah pembayaran, hubungi kami melalui e-mail (help@befreetour.com) dan hubungi kami di 085643077272. Kebijakan pembatalan dan pengembalian dana bervariasi tergantung pada produk tur. Proses pembatalan dapat dilakukan pada hari dan jam kerja (09:00 sampai 18:00). Pertanyaan / permohonan keterangan di akhir pekan dan hari libur, akan diproses pada hari kerja berikutnya.
    </p-accordionTab>
    <p-accordionTab header="Dapatkah saya melakukan pemesanan saat baru saja mendaftar sebagai anggota?">
      Iya, tur gratis kami berjalan 100% berdasarkan keanggotaan. Pendaftaran keanggotaan secara gratis, dan saat Anda mendaftar sebagai anggota, Anda akan mendapatkan keuntungan dari berbagai promosi acara dan berbagai pembelian.
    </p-accordionTab>
  </p-accordion>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Contact <span style="color: #E04F67;">Person</span> </h5>
    <h2><span class="phone">0821-3503-9747  </span></h2>
    <p class="card-text">Jam Kerja : 09:30 ~ 18:00</p>
    <p class="card-text">Jam Istirahat : 12:00 ~ 13:00</p>
    <p class="card-text">(GMT+7)</p>
  </div>
</div>

<br><br>

<app-footer-profile></app-footer-profile>